.product {
  background-color: #f3f4fe;
  &__container {
    margin-left: 125px;
    padding: 0 2rem;
    width: 100%;
    max-height: 600px;
    overflow: auto;
  }
  &__header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #1d2a3c;
    p {
      color: white;
      padding: 10px;
      font-weight: 500;
      font-size: 15px;
    }
  }
}
